body {
   font-size: 16px;
   color: #283136;
   font-weight: bold normal;
   font-family: Verdana serif Roboto;
}

header {
	background-color: #eeeeee;
	width: 1440px;
}

.main-header {
	min-height: 546px;
}

.container {
	padding: 10px 10px;
	width: 1440px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.logo {
	float: left;
	width: 160px;
	min-height: 65px;
	margin-left: 140px;
	margin-top: 50px;
	background: yellow;
}

.main-navigation {
	float: left;
	width: 600px;
	min-height: 65px;
	margin-left: 20px;
	margin-top: 50px;
	background: yellow;
}

.main-navigation li {
	list-style: none;
	display: inline;
	padding: 10px;
	padding-left: 30px;
}
/*как корзину сделать правильно? как разьединить саму корзину с надписью?
Я не знаю как сделать спрайт на background*/

.basket a {
	display: block;
	float: right;
	height: 40px;
	margin-right: 140px;
	margin-top: 50px;
	padding: 10px;
	background: lightyellow;
}

.column1 {
	width: 380px;
	height: 200px;
	padding-left: 140px;
}
/*самая главная проблема. слайдер-слоган не получается одним кведратным блоком разместить
разбивается на две строки (с красным фоном), а в блоке column1 почемуто не размещается*/
.slider-slogan,
.slider-top-content {
	clear: both;
	display: block;
}
/* картинку слайдера не могу упорядочить... */
.slider {
	float: right;
	width: 698px;
	height: 413px;
}

.declarations {
	background: lightblue;
	margin-top: 80px;
	margin-left: 40px;
}

.declaration {
	float: left;
	margin-left: 100px;
	margin-right: 40px;
	width: 300px;
}

.left-column {
	float: left;
	margin-left: 140px;
	width: 660px;
	height: 370px;
}
/* нижнее правило не работает не меняется размер шрифта*/
.cutaway-1 {
	font-size: 45px;
	font-weight: normal;
}

.logo-color {
	float: right;
	margin-right: 0px;
	width: 360px;
	height: 208px;
}

.right-column {
	float: right;
	margin-top: 40px;
	padding-left: 50px;
	width: 360px;
	height: 160px;

}

.partners {
	clear: both;
	list-style: none;
	width: 1160px;
	height: 180px;
}

.partners li {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	margin-left: 90px;
}


.discount {
	display: inline;
	text-align: center;
}
/* и этот список с процентами, не пойму как вертикально повернуть?*/
.right-column li {
	list-style: none;
}
footer {
	width: 1440px;
}